<!DOCTYPE html>
<html>

<head>
    <title>AtomPay</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container my-5">
        <h3 class="">Merchant Shop</h3>
        <p>Transaction Id: {{ merchTxnId }}</p>
        <p>Atom Token Id: {{ atomTokenId }}</p>
        <p>Pay Rs. {{ amount }}</p>
        <a class="btn btn-primary" href="javascript:openPay()" role="button">Pay Now</a>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://pgtest.atomtech.in/staticdata/ots/js/atomcheckout.js?v={{ atomTokenId }}"></script>

    <script>
        function openPay() {
            console.log('openPay called {{ atomTokenId|escapejs }}');
            const options = {
                "atomTokenId": "{{ atomTokenId|escapejs }}",
                "merchId": "{{ merchId|escapejs }}",
                "custEmail": "{{ custEmail|escapejs }}",
                "custMobile": "{{ custMobile|escapejs }}",
                "returnUrl": "{{ returnUrl|escapejs }}"
            }
            let atom = new AtomPaynetz(options, 'uat');
        }

    </script>
</body>

</html>